@model IEnumerable<supercines.Models.peliculasModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Peliculas</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Nueva Pelicula</a>
</p>
<table class="table  table-bordered table-responsive table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TituloDistribucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TituloOriginal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdiomaOriginal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtitulada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AñoProduccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlSitioWeb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEstreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resumen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloDistribucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TituloOriginal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdiomaOriginal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitulada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaisOrigen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AñoProduccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlSitioWeb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEstreno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resumen)
            </td>
            <td>

                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.IdPelicula">Editar</a>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.IdPelicula">Detalles</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdPelicula">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
