@model IEnumerable<supercines.Models.repartosModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Repartos</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Nuevo Reparto</a>
</p>
<table class="table  table-bordered table-responsive table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.TituloDistribucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personaje)
            </td>
            <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
